@model kurs0._7.Materials

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление материала</h2>

<h3>Вы точно хотите удалить выбранный материал?</h3>
<div>
    <h4>Материал</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Описание
        </dt>

        <dt>
            Категория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Производитель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            Единицы измерения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Units)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            Зарезервировано
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку материалов", "Index")
        </div>
    }
</div>
